.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trophyWall {
  font-size: 1rem;
}

.row {
  display: flex;
  gap: 12px;
  position: relative;

  > div {
    min-width: 300px;
  }

  p {
    padding: 12px;
  }
}

.img {
  width: 50px;
  position: absolute;
}

.star {
  top: 8px;
  left: 0;
}

.heart {
  right: 32px;
  top: 16px;
}

.sun {
  top: 24px;
  left: 50%;
}

.flower {
  right: 24px;
  top: 60%;
}

.balloon {
  bottom: 32px;
  left: 16px;
}

.commentaryNote {
  font-size: 1rem;
  position: absolute;
  bottom: -32px;
  width: 200px;
  transform: rotate(3deg);
  z-index: 1;

  strong {
    text-align: right;
    padding-top: 4px;
    display: block;
  }

  &.comfiesNote {
    right: 0;
    transform: rotate(-6deg);
    bottom: 0px;
    display: inline;
    i {
      display: inline;
    }
  }
}

.trophyWall {
  ul {
    padding-left: 1rem;
  }
}

.trophyTitle {
  font-size: 2rem;
}

@media (max-width: 900px) {
  .row {
    flex-direction: column-reverse;
  }

  .saysTitle {
    font-size: 2rem;
  }

  .text {
    font-size: 1.75rem;
  }

  .commentaryNote {
    left: 0;
    bottom: 0;
    opacity: 0.95;

    &.comfiesNote {
      right: 0;
      left: unset;
    }
  }

  .awards {
    width: 100%;
    order: -1;
  }

  .star {
    top: 24px;
    left: 0;
  }

  .heart {
    right: 32px;
    top: 64px;
  }

  .sun {
    top: 300px;
    left: 0;
  }

  .flower {
    right: 0;
    top: 55%;
  }
}
