.content {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.subTitle {
  border-bottom: 1px #ccc dashed;
  margin-bottom: 32px;
  height: fit-content;
}

.description {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 16px;
}

.item {
  display: flex;
  gap: 32px;
  width: 100%;

  &:last-of-type {
    flex-direction: row-reverse;
  }
}

.photo {
  transform: rotate(3deg);
  flex-shrink: 0;
}

.photoSecond {
  transform: rotate(-3deg);
}

.itemContent {
  width: 100%;
  display: flex;
  flex-direction: column;

  p {
    font-size: 18px;
  }
}

.photoMobile {
  display: none;
}

@media (max-width: 900px) {
  .photo {
    transform: none;
    width: 100%;
    max-width: 300px;
    display: none;

    &.photoMobile {
      display: flex;
    }
  }

  .itemContent {
    gap: 24px;
    align-items: center;
  }

  .subTitle {
    border: none;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .item {
    flex-direction: column !important;
    align-items: center;
    border-bottom: 1px dashed #333;
    padding-bottom: 24px;

    &:last-of-type {
      border: none;
    }
  }

  .content {
    gap: 16px;
  }
}
