.wrapper {
  width: 70%;
  min-height: calc(100vh - 80px);
  height: fit-content;
  max-width: 900px;
  border-top-right-radius: 32px;
  padding-left: 0.6em;
  color: #000;
  display: flex;
  flex-direction: column;
  box-shadow:
    0.1em 0.1em #ddd,
    0.065em 0.05em #fff,
    0.15em 0.15em #bbb,
    0.125em 0 0 0.15em #9f7159,
    0.25em 0.125em 0 0.15em #634739;

  filter: drop-shadow(-0.25vmin 0.1em 0.35vmin #0002)
    drop-shadow(1vmin 0 1vmin #0003);

  font-size: 5vmin;
  background:
    radial-gradient(circle at 0.4em 50%, #000 0.125em, #0000 0.135em) 0 0 / 100%
      3vmin repeat-y,
    #f6f6f6;

  transform-style: preserve-3d;
  perspective: 1000px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1em;
    width: 1.5em;
    height: 100%;
    background:
      linear-gradient(#0000 0.225em, #999 0 0.375em, #0000 0) 80% 0 / 68% 3vmin
        repeat-y,
      linear-gradient(25deg, #0000 0.225em, #666 0 0.35em, #0000 0) 44% 0.1% /
        40% 3vmin repeat-y,
      radial-gradient(circle at 0.4em 50%, #999 0.075em, #0000 0.085em) 0 0 /
        100% 3vmin repeat-y,
      radial-gradient(circle at 1.4em 50%, #999 0.075em, #0000 0.085em) 0 0 /
        100% 3vmin repeat-y,
      #f000;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1em;
    width: 1.5em;
    height: 100%;
    background: linear-gradient(#0000 0.225em, #fff7 0 0.375em, #0000 0) 80% 0 /
      68% 3vmin repeat-y;
    mask:
      linear-gradient(90deg, #0000 0.4em, #000 0.6em, #0000 1.2em),
      linear-gradient(#0000 0.225em, #fff7 0.28em 0.3em, #0000 0.375em) 80% 0 /
        68% 3vmin repeat-y;
    mask-composite: intersect;
  }
}
