.wrapper {
  --widthColumns: 1;
  transition: max-width 0.3s;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
  gap: 12px;
}

.btn {
  margin: 0;
  font-size: 1.2rem;
  min-width: auto;
  width: 100%;
  max-width: 200px;

  &::before,
  &::after {
    display: none;
  }
}

.schedule {
  display: flex;
  overflow: auto;
  margin-top: 24px;
  color: #fff;
}

.times {
  display: flex;
  flex-direction: column;

  .timeTitle,
  .time {
    width: 80px;
    height: calc(50px * var(--widthColumns) - 1px * (var(--widthColumns) - 1));
    padding: 8px 12px;
    border-left: 1px solid var(--blue);
    border-top: 1px solid var(--blue);
    margin-left: -1px;
    background: var(--purple);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .timeTitle {
    height: 50px;
    border-top: none;
  }
}

.track {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid var(--blue);
  margin-left: 0;
  color: var(--text);

  .trackTitle,
  .trackItem,
  .emptyItem {
    height: calc(50px * var(--widthColumns));
    font-size: 0.9rem;
    font-weight: 400;
    padding: 6px 12px;
    overflow: hidden;
    flex-shrink: 0;
    border: 0;

    &:not(:first-of-type) {
      border-top: 1px solid var(--blue);
    }
  }

  .trackTitle {
    background-color: var(--purple);
    color: #fff;
    font-size: 1rem;
    position: static;
    height: 51px;
    border-bottom: 1px solid var(--blue);
  }

  .emptyItem {
    border: none !important;
  }

  &:nth-of-type(2) .trackItem {
    background-color: var(--titleColor);
  }

  &:nth-of-type(3) .trackItem {
    background-color: var(--orange);
  }
}

.row {
  display: flex;
  margin-top: 12px;
  gap: 12px;

  .hint {
    font-size: 0.8rem;
  }

  .apply {
    flex-shrink: 0;
  }
}

@media (max-width: 900px) {
  .btn {
    font-size: 1rem;
  }
}
