.title {
  margin-bottom: 64px;
}

.mascotsContainer {
  position: relative;
  display: flex;
  gap: 64px;
  margin-top: 64px;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.1rem;
  }
}

.comfy {
  transform: rotate(-10deg);
}

.everymare {
  transform: rotate(12deg);
}

.nawni {
  transform: rotate(-5deg);
}

.everymareContainer {
  flex-direction: row-reverse;
}
