.title {
  margin-bottom: 64px;
}

.mascotsContainer {
  position: relative;
  display: flex;
  gap: 64px;
  margin-top: 64px;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.1rem;
  }
}

.comfy {
  transform: rotate(-10deg);
  flex-shrink: 0;
}

.everymare {
  transform: rotate(12deg);
  flex-shrink: 0;
}

.nawni {
  transform: rotate(-5deg);
  flex-shrink: 0;
}

.everymareContainer {
  flex-direction: row-reverse;
  padding-right: 12px;
}

@media (max-width: 900px) {
  .mascotsContainer {
    flex-direction: column;
    gap: 24px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #333;
    margin-top: 24px;

    &:last-of-type {
      border: none;
    }

    .comfy,
    .everymare,
    .nawni {
      transform: none;
      max-width: 385px;
    }
  }

  .description {
    padding: 0 8px;
  }
}
