.page {
  padding-top: 80px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 128px;

  background-color: #f6f6f6;
  height: fit-content;
  min-height: calc(100vh - 80px);
  width: 100%;
  position: relative;

  pointer-events: none;
  user-select: none;

  transform-origin: left center;
  backface-visibility: hidden;
  transform: translateZ(-1px) translateX(100%);
  opacity: 0.5;

  pointer-events: all;
  user-select: unset;
  animation: slideIn 0.4s forwards ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateZ(-40px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
