.content {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

.subTitle {
  border-bottom: 1px #ccc dashed;
  margin-bottom: 32px;
}

.description {
  font-size: 1.2rem;
}

.status {
  color: var(--blue);
  transform: rotate(4deg);
  border: 5px solid var(--blue);
  text-align: center;
  padding: 8px 64px;
  background-color: #f6f6f6;
  width: fit-content;
  font-size: 3rem;
  font-weight: 700;
  align-self: center;
  margin-top: 64px;

  &::after {
    content: '';
    position: absolute;
    inset: -5px;
    background-image: url('../../assets/noise.jpeg');
    mix-blend-mode: lighten;
  }
}

.note {
  position: absolute;
  width: 200px;
  right: 24px;
  top: 24px;

  &:hover {
    transform: scale(1.05) rotate(-2deg);
  }
}

.tip {
  font-size: 1.6rem;
  margin-bottom: 8px;
  font-weight: 700;
}

.photos {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 64px;
}

.photo {
  transform: rotate(8deg);
}

.photo2 {
  transform: rotate(-2deg);
}

@media (max-width: 900px) {
  .photo {
    transform: none;
    width: 100%;
    max-width: 300px;
  }

  .photos {
    gap: 32px;
  }

  .status {
    font-size: 2rem;
  }

  .note {
    display: none;
  }
}
