.tooltip {
  position: fixed;
  left: var(--x);
  top: var(--y);
  background: #fef3c7;
  color: #000;
  padding: 6px 12px;
  box-shadow: 0px 0px 3px #ffe88d;
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: 0.8rem;
    left: 8px;
    right: 8px;
    z-index: 3;
  }
}
