.content {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.subTitle {
  border-bottom: 1px #ccc dashed;
  margin-bottom: 32px;
  padding-top: 32px;
  position: relative;

  &:first-of-type:after {
    content: '';
    position: absolute;
    width: 200px;
    right: 16px;
    top: -100px;
    height: 200px;
    background: url('../../assets/cc2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) bottom;
    transform: scale(-1, 1);
  }
}

.description {
  font-size: 1.2rem;

  a {
    text-decoration: underline;
  }
}

@media (max-width: 900px) {
  .subTitle:first-of-type:after {
    width: 150px;
    height: 150px;
    background-size: 130px;
    top: -70px;
  }
}
